@{
    ViewBag.Title = "PassageOrdre";
    Layout = "~/Views/_layout.cshtml";
    ViewBag.passageOrdre = "active";
}

<h2 class="wsite-content-title" style="text-align: left;">Passer un ordre</h2>
<br />

<a href="/Home/VenteValeur">
    <div class="banim_left_to_right">> Passer un ordre de vente </div>
</a>
<br />
<a href="/Home/AchatValeur">
    <div class="banim_left_to_right">> Passer un ordre d'achat </div>
</a>

